services:
  node:
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://mongo:27017/
    links:
      - mongo
  mongo:
    image: mongo
    restart: always
    volumes:
      - ./data:/data
